body{
    background: #5050;
}

#titulo, .subtitulo, .post_tittle7 {
    color: silver
}

.post_tittle{
    font-size: 30px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    /*arredondar borda*/ border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    
}

.post_imagem{
    margin: 0;
    margin-bottom: 
}
.family{
            font-family: Verdana;
            }
 .size{
            font-size: 30px;
            font-size: 18px;
            }
.style{
    font-style: normal;
    font-style: italic;
 }
.weight{
    font-weight: normal;
    font-weight: bold;
}
.transform{
    text-decoration: uppercase;
    text-decoration: overline;
    text-decoration: lowercase;
}
.square{
    list-style-type: square;
    padding-left: 15px;
}
.uper-roman{
    list-style-type: upper-roman
}
.emoge{
    list-style-type: "\f44d"
}